#footer {
        .footer__content {
          background: #121035;
          margin-top: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    
    

    p {
        margin-bottom: unset;
        background-color: inherit;
    }
        }
}